div, nav {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url('dark.png');
  background-repeat: repeat;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.mithril-footer {
  margin-top: 100px;
  background-color: #1C1C1C;
  border-radius: 5px;
  padding: 5px;
}

.search {
  border: 1px solid #DDDDDD;
  width: 100%;
}

.table-example {
  width: 100%;
}

.mithril-table {
  width: 75%;
}

.big-header {
  color: white;
  font-size: 4em;
  text-align: center;
  border-bottom: 1px solid black;
}

.medium-header {
  font-size: 36pt;
}

.small-header {
  font-size: 24pt;
}

.mithril-emphasis {
  border-bottom: 1px solid #FFFFFF;
}

.medium-section {
  width: 50%;
}

p.description {
  font-size: 18pt;
  margin: 0;
}

p.small-description {
  font-size: 16pt;
  margin: 0;
}

.comment {
  padding-left: 50%;
}

.mithril-feature {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 75%;
  background-color: #1C1C1C;
  padding: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-radius: 5px;
}



.content {
  color: #FFFFFF;
  margin: 0 auto 0 auto;
  width: 90%;
}