div, nav {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url('dark.png');
  background-repeat: repeat;
}

.search {
  border: 1px solid #DDDDDD;
  width: 100%;
}

.table-example {
  width: 100%;
}

.mithril-table {
  width: 75%;
}

.big-header {
  /*background-color: #CACACA;*/
  background: -webkit-linear-gradient(gray, black);
  color: white;
  font-size: 4em;
  text-align: center;
  border-bottom: 1px solid black;
}

.medium-header {
  font-size: 36pt;
}

p.description {
  padding-left: 50%;
  font-size: 18pt;
  margin: 2% 0 0 2%;
}

.content {
  color: #FFFFFF;
  margin: 0 auto 0 auto;
  width: 90%;
}