html, body { height: 100%; width: 100%; margin: 0; }

@media (min-width: 600px) {
  nav.nav {
    height: 2.5em;
    width: 100%;
    z-index: 1;
    background-color: #A7A7A7;
  }

  nav.stuck {
    top: 0;
    position: fixed;
  }

  div.content {
    margin-top: 2.5em;
  }

  nav.nav > ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav.nav > ul > li {
    height: 100%;
    display: inline;
  }

  a.big-nav-link {
    padding: 0 4% 0 4% !important;
    font-weight: bold;
  }

  a.nav-link {
    float: left;
    height: 100%;
    padding: 0 2% 0 2%;
    background-color: #BABABA;
    -webkit-transition: background-color 250ms linear, color 250ms linear;
    border-right: 1px solid white;
    color: black;
    text-align: center;
    line-height: 2.3em;
    text-decoration: none;
    font-size: 14pt;
  }

  a.active {
    /*background-color: #878787 !important;*/
    background-color: #474747 !important;
    color: #FFFFFF;
  }

  a.nav-link:hover {
    /*background-color: #A9A9A9;*/
    background-color: #808080;
    color: #FFFFFF;
  }

  a.nav-link:active {
    /*background-color: #878787;*/
    background-color: #474747;
    color: #FFFFFF;
  }
}