html, body { height: 100%; width: 100%; margin: 0; }

@media (min-width: 650px) {
  nav.nav {
    height: 2.5em;
    width: 100%;
    z-index: 1;
    background-color: #161616;
  }

  nav.stuck {
    top: 0;
    position: fixed;
  }

  div.content {
    margin-top: 2.5em;
  }

  nav.nav > ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav.nav > ul > li {
    height: 100%;
    display: inline;
  }

  a.big-nav-link {
    padding: 0 4% 0 4% !important;
    font-weight: bold;
  }

  a.nav-link {
    float: left;
    height: 100%;
    padding: 0 2% 0 2%;
    transition: color 250ms linear, border-color 250ms ease;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.3em;
    text-decoration: none;
    font-size: 14pt;
    border-bottom: 1px solid rgba(255,255,255,0.0);
  }

  a.active {
    color: #8E8E8E;
    border-bottom: 1px solid rgba(255,255,255,1);
  }

  a.nav-link:hover {
    color: #8E8E8E;
    border-bottom: 1px solid rgba(255,255,255,1);
  }
}