html, body { height: 100%; width: 100%; margin: 0; }

@media (min-width: 650px) {
  nav.nav {
    height: 2.5em;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
  }

  nav.stuck {
    top: 0;
    position: fixed;
  }

  div.content {
    margin-top: 2.5em;
  }

  nav.nav > ul {
    height: 100%;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  nav.nav > ul > li {
    height: 100%;
    display: inline;
  }

  span.big-nav-link {
    padding: 0 4% 0 4% !important;
    font-weight: bold;
  }

  span.nav-link {
    float: left;
    height: 100%;
    padding: 0 2% 0 2%;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #000000;
    text-align: center;
    line-height: 1.8em;
    text-decoration: none;
    font-size: 18pt;
    border-bottom: 1px solid rgba(0,0,0,0.0);
  }

  span.active {
    color: #727272;
    border-bottom: 1px solid rgba(0,0,0,1);
  }

  span.nav-link:hover {
    color: #727272;
    border-bottom: 1px solid rgba(0,0,0,1);
  }
}